@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    --accent-color: #99cccc;
    --accent-color-dark: rgba(153, 204, 204, .6);
}

/* scroll bar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1d1d1e;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

/* cursor */

* {
    cursor: url("/assets/cursor/arrow.gif"), auto !important;
    font-family: 'Fredoka', sans-serif;
}

/* custom button */

.button {
    border: none;
    border-radius: 10px;
    color: #1d1d1e;
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem;
    min-width: 12rem;
    padding: 0.75rem 1rem;
    position: relative;
    transition: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.button-primary {
    background: var(--accent-color);
    box-shadow: 0 4px var(--accent-color-dark);
}

.button-primary:hover {
    box-shadow: 0 2px var(--accent-color-dark);
    color: #000000b3;
    top: 2px;
}

.button:active {
    box-shadow: none;
    color: #000;
    top: 4px;
}
